.chat__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  height: 100vh;
}
.chat__box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #494970;
  height: 10vh;
  padding: 0 8px;
}
.chat__box__left {
  display: flex;
  align-items: center;
  color: var(--h2-color);
  gap: 5px;
}
.chat__box__left > img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(78, 234, 34);
}
.chat__box__left > span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(78, 234, 34);
}
.chat__box__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #3f3434;
  padding: 5px;
  border-top: 1px solid goldenrod;
}
.chat__box__footer > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(78, 234, 34);
}
.chat__box__footer > input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}
.chat__box__footer > button:hover {
  border: 1.5px solid goldenrod;
}
.chat__box__footer > span {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(78, 234, 34);
}
.span {
  background-color: #1e683d;
  color: var(--h2-color);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}
.active {
  color: var(--h2-color);
}

.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 15px;
  overflow-y: scroll;
  background-color: #36364a;
}

.message {
  display: flex;
}
.own {
  justify-content: flex-end;
}
.message__top {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.message__top > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(68, 71, 67);
}
.messageText {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 10px;
  max-width: 300px;
  word-wrap: break-word;
  font-size: 1.1rem;
  font-weight: 500;
  color: #131212;
}
.own .messageText {
  background-color: rgb(80, 188, 255);
}
.time {
  font-size: 10px;
  color: var(--h2-color);
  margin: 0 10px;
}
@media screen and (max-width: 400px) {
  .chat__box {
    height: 20vh;
    padding: 0;
  }
  .messageText {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    max-width: 200px;
    word-wrap: break-word;
    font-size: 1.1rem;
    font-weight: 500;
    color: #131212;
  }
  .chat__box__footer > span {
    display: none;
  }
}
.if-null {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #131212;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}
.if-null > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.select-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.area {
  position: absolute;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(18, 16, 16, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 1;
}
.profile-Text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #352e2e;
  color: #ffffff;
  border-radius: 50%;
}
.profile-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #352e2e;
  color: #ffffff;
  border-radius: 50%;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
