.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #908282;
}

.form {
  width: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}
form > input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
