.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  background-color: transparent;
}
.bottom__left {
  display: flex;
  align-items: center;
  gap: 10px;
  
}
